/* ==== Common Fix starts here==== */
* {
    margin: 0;
    padding: 0;
}
/* ==== Common Fix ends here==== */

/* ===== First section starts here===== */
.firstsection {
    border: 3px solid black;
    height: 430px;
    display: flex;
}
/* ===== First section ends here===== */

.firstsection-leftdiv {
    width: 50%;
    height: 100%;
    background: var(--gray-color);
}

.firstsection-rightdiv {
    width: 50%;
    height: 100%;
    background: var(--linear-gradient), url("./images/image1.jpg");
    background-size: cover;
    background-position: bottom left;
}