/* ==== Common Fix starts here==== */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}
/* ==== Common Fix ends here==== */

img {
    width: 100%;
    height: 100%;
}

/* ===== First section starts here===== */
.firstsection {
    /* border: 3px solid black; */
    height: 460px;
    display: flex;
}
/* ===== First section ends here===== */

.firstsection-leftdiv {
    width: 50%;
    height: 100%;
    background: var(--gray-color);
    padding: 20px;
    box-sizing: border-box;
}

span {color: var(--main-color);}
.firstsection-rightdiv {
    width: 50%;
    height: 100%;
    background: var(--linear-gradient), url("./images/image1.jpg");
    background-size: cover;
    background-position: bottom left;
}

.logotext {
    margin-bottom: 20px;
}

.heading {
    margin-bottom: 20px;
}

.line {
    height: 16px;
    background: var(--main-color);
    width: 224px;
}

.firstsection-leftdiv p{
    margin-bottom: 20px;
}

.link-holder {
    /* border: 3px solid purple; */
    color: var(--white-color);
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}   

.secondsection {
    /* border: 3px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

    flex-wrap: wrap;
}

.secondsection-leftdiv {
    height: 400px;
    width: 310px;
    /* border: 3px solid purple; */
    padding: 30px 25px;
    background: var(--gray-color);
}

.secondsection-leftdiv h4 {
    margin-bottom: 20px;
}

.secondsection-leftdiv p {
    margin-bottom: 25px;
}

.secondsection-rightdiv {
    height: 500px;
    width: 340px;
    margin-left: 20px;
}